<!DOCTYPE html>
<html lang="he">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <title>Document</title>
</head>
<body>  
    <form method="POST">
        <h1>התחברות</h1>
        <div class="email">
            <label for="email" id="email">אימייל:</label>
            <input type="text" name="email" placeholder="אימייל" required>
        </div>
        <div class="password">
            <label for="password" id="password">סיסמא:</label>
            <input type="password" name="password" required placeholder="סיסמא">
        </div>
        <button type="submit">התחבר</button>
        <p>עדיין לא רשום? <a href="/signup">הירשם</a></p>

        
    </form>
    <%- include('./partials/errMessage') %> 
    <script src="/socket.io/socket.io.js"></script>
    <script>
        document.querySelector('botton').addEventListener('click', (e)=> {
            e.preventDefault
        })
    </script>
</body>
</html>