<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="profile-style.css">
    <title>Document</title>
</head>

<body>
    
    
    <header>
        <h1>  הנה כמה נתונים סטטיסטים <%- userName %> </h1>
    </header>
        
        <div class="box">
            <ul>
                <div class="">
                <li class="logins">מספר התחבריות</li>
                <h5>0</h5>
                </div>
                <div class="">
                <li class="logins">מספר התחבריות</li>
                <h5>0</h5>
                </div>
                <div class="">
                <li class="logins">מספר התחבריות</li>
                <h5>0</h5>
                </div>
            </ul>
        </div>


    <div class="options">
        <a class="lobby" href="/">לובי</a>
        <a class="logout" href="/logout">התנתק</a>
    </div>

    <script></script>
</body>
</html>